.right-bar .search-bar {
  position: relative;
  margin-bottom: 16px;
}

.right-bar .search-bar input {
  padding: 10px 16px;
  padding-right: 40px; /* space for icon */
  background-color: #eff3f4;
  transition: background-color 0.3s;
  width: 100%;
}

.right-bar .search-bar input.focused {
  background-color: white;
  outline: var(--main-color) 0.5px solid;
}

.right-bar .search-bar .icon {
  position: absolute;
  right: 10px;
  top: 23px;
  transform: translateY(-50%);
}
